a {
  color: #222;
  font-family: "Bitter", sans-serif;
  text-decoration: none;
}

a:hover {
  color: #E83393;
}

p {
  color: #222;
  font-family: "Bitter", sans-serif;
  font-size: 4vw;
  margin: 10px;
}

section {
  height: auto;
  max-width: 100%;
  width: 95%;
  text-align: right;
}

html {
  width: 100%;
  min-height: 100%;
}