a {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 4vw;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #E83393;
}

footer {
  position: fixed;
  bottom: 5vh;
  text-align: left;
}

p {
  color: #FFF;
  font-family: "Montserrat", sans-serif;
  font-size: 4vw;
  font-weight: bold;
  margin: 10px;
}

section {
  height: auto;
  margin-top: 10vh;
  max-width: 100%;
  text-align: right;
}

html {
  background: linear-gradient(330deg, #140B1F, #443852);
  min-height: 100%;
}

.unnegativeBrand {
  opacity: .4;
}