/* CODE GUIDELINES ========================================================== */

/* 

1. Keep styles split into two groups: tag (a, h1, img) and class (.who, .why)
1.1. Within the class styles, keep the sections ordered as they appear on the
     site (header, who, what, when...)
2. Keep everything in alphabetical order
3. When in doubt, remember that none of this matters anyway

*/

/* TAG STYLES =============================================================== */

a {
  color: #472A93;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #472A93;
}

body {
  background: #FFECE4;
  margin: 0;
}

h1 {
  color: #472A93;
  font-family: "Cooper Black", "cooper-black-std", sans-serif;
  font-size: 48px;
  margin-bottom: 10px;
}

h2 {
  color: #472A93;
  font-family: "Courier", sans-serif;
  font-weight: lighter;
}

p {
  color: #472A93;
  font-family: "Courier", sans-serif;
  margin: 0;
}

p.bold {
  margin: 10px auto;
}

p.light {
  font-weight: lighter;
}

section {
  margin: 0 auto 50px auto;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 600px;
}

/* CLASS STYLES ============================================================= */

.answer {
  padding-bottom: 30px;
}

.bottomLeft {
  border: 2px solid #472A93;
  border-collapse: collapse;
  width: 200px;
}

.bottomRight {
  border: 2px solid #472A93;
  width: 400px;
  vertical-align: top;
}

.bottomRight p {
  padding: 15px;
}

.photoBox {
  border: 2px solid #472A93;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  height: 200px;
  width: 200px;
}

.RSVP {
  border: 2px dashed #472A93;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  cursor: pointer;
  text-align: center;
}

.bigLink {
  display: block;
  height: 100%;
  padding: 20px;
  text-decoration: none;
}

.bigLink:hover {
  background-color: #472A93;
  color: #FFECE4; 
  display: block;
  height: 100%;
  text-decoration: none;
}

.topRight {
  border: 2px solid #472A93;
  text-align: center;
  width: 400px;
  vertical-align: middle;
}

.faq {
  text-align: left;
}

.how {
  border: 2px solid #472A93;
  background: #FFECE4;
  left: 50px;
  position: fixed;
  top: 50px;
}

.speechBubbles {
  background-color: #472A93;
  height: 200px;
  margin: 0 auto;
  width: 300px;
}

.who {
  min-height: 200px;
  text-align: left;
  vertical-align: top;
}

.whoPhoto {
  background-color: #472A93;
  bottom: 15px;
  height: 200px;
  position: relative;
  right: 15px;
  width: 200px;
}

.wrapper {
  padding: 50px;
  margin: 0 auto;
  max-width: 600px;
}
